*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
body::before {
  content: "";
  position: fixed;      
  inset: 0;
  background: url("/src/Assets/imageBackground.jpg") center/cover no-repeat;
  filter: blur(8px);   
  z-index: -1;          
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 9rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 56rem;
    filter: drop-shadow(7px 5px 1px #ed4fb0);
}
.boxMain{
    margin: 0 auto;
    width: 75%;
    height: 80%;
    border-radius: 15px;
    background-color: #F69AE8;
    box-shadow: 0 5px 25px #fefefec9;
    display: flex;
    align-items: center;
    gap: 2rem;
}
textarea{
    width: 100%; 
    height: 24.6%;      
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 3.5rem;
    padding: 1rem;
    outline: none;
    background-color: transparent; 
    color: #ffffff;
    resize: none;
    overflow-wrap: break-word;
    transition: all 0.8s ease;
    box-sizing: border-box;
    box-shadow: 
        inset 2px 0px 5px rgba(0, 0, 0, 0.646),
        inset 0px 5px 10px rgba(0,0,0,0.8),
        inset -2px 0px 2px  rgba(0,0,0,0.09),
        inset 0px 5px 15px rgba(248, 246, 246, 0.9);
}
.inputForm:hover {
    height: 35%;
}
/* .boxInforOfReq:hover .inputForm,
.boxInforOfRes:hover .inputForm {
    box-shadow: 
        inset 2px 0px 5px rgba(0, 0, 0, 0.646),
        inset 0px 5px 10px rgba(0,0,0,0.8),
        inset -2px 0px 2px  rgba(0,0,0,0.09),
        inset 0px 5px 15px rgba(248, 246, 246, 0.9);
} */
/* Hidden scroll */
.boxInforOfReq::-webkit-scrollbar,
.boxInforOfRes::-webkit-scrollbar {
    display: none;
}
.inputForm::-webkit-scrollbar,
.inputForm::-webkit-scrollbar {
    display: none;
}
/* REQUEST */
.boxLeft_request{
    justify-items: center;
    margin: 0 auto;
    width: 50%;
    height: 80%;
    background-color: #fff;
    border-radius: 15px;
    /* border: 2px solid rgb(86, 85, 85); */
    transition: all 0.8s ease-in;

}
.boxLeft_request:hover{
    width: 150%;
    transition: all 0.8s ease;
}
.titleReq{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: #E76BD5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boxInforOfReq{
    width: 90%;
    height: 80%;
    border-radius: 15px;
    background-color: #8F8F8F;
    overflow: auto;
    box-shadow: 
        inset 2px 0px 5px rgba(0, 0, 0, 0.646),
        inset 0px 5px 10px rgba(0,0,0,0.8),
        inset -2px 0px 2px  rgba(0,0,0,0.09),
        inset 0px 5px 15px rgba(248, 246, 246, 0.9);
}

/* RESPONSE */
.boxRight_response{
    justify-items: center;
    margin: 0 auto;
    width: 50%;
    height: 80%;
    background: #fff;
    /* border: 2px solid rgb(101, 100, 100); */
    border-radius: 15px;
    transition: all 0.8s ease-in;
}
.boxRight_response:hover{
    width: 150%;
    transition: all 0.8s ease;
}
.titleRes{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: #E76BD5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boxInforOfRes{
    width: 90%;
    height: 80%;
    border-radius: 15px;
    background-color: #8F8F8F;
    overflow: auto;
    box-shadow:     
        inset 2px 0px 5px rgba(0, 0, 0, 0.646),
        inset 0px 5px 10px rgba(0,0,0,0.8),
        inset -2px 0px 2px  rgba(0,0,0,0.09),
        inset 0px 5px 15px rgba(248, 246, 246, 0.9);
}








